/Práctica 1/IrrgartenP1/nbproject/private/
/Práctica 1/Java/IrrgartenP1/build/
.vscode/
/Práctica 2/Java/IrrgartenP2/nbproject/private/
/Ejercicios/Ejercicio 1/Java/Ejercicio1/nbproject/private/
/Ejercicios/Ejercicio 1/Java/Ejercicio1/build/
/Irrgarten/Práctica 2/Java/IrrgartenP2/build/
/Irrgarten/Práctica 3/Java/IrrgartenP3/nbproject/private/
/Irrgarten/Práctica 3/Java/IrrgartenP3/build/
/Irrgarten/Práctica 3/Java/IrrgartenP3/dist/
/Irrgarten/Práctica 4/Java/IrrgartenP4/nbproject/private/
/Irrgarten/Práctica 4/Java/IrrgartenP4/build/
/Irrgarten/Práctica 5/IrrgartenP5/nbproject/private/
/Irrgarten/Práctica 5/IrrgartenP5/build/
/Irrgarten/Práctica 5/IrrgartenP5/dist/
/Ejercicios/Ejercicio 2/Java/Ejercicio2/nbproject/private/
/Ejercicios/Ejercicio 2/Java/Ejercicio2/build/
